<style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4caf50;
    color: white;
  }

  .topnav a.log {
    background-color: red;
    color: white;
  }

  .topnav-right {
    float: right;
  }
</style>

<link href="stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
<script type='text/javascript' src='<%=wsAddress + "/socket.io/socket.io.js"%>'></script>
<script src="javascripts/lib/require.min.js"></script>
<script>require(["javascripts/game/gameEngine"])</script>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="#">Leaderboard</a>
  <div class="topnav-right">
    <a class="log" href="/users/register">Register</a>
    <a class="active" href="/users/login">Login</a>
  </div>
</div>
<div>&nbsp;</div>
<div>
  
  <div id="gameScreen">

    <div id="gs-info-panel">To fly, press your <strong>space bar</strong> !</div>
    
    <canvas id="gs-canvas" width="900" height="768"></canvas>
    
    <div id="gs-loader" class="inGamePanel overlay">

      <div id="gs-loader-anim-box">
        <div id="gs-loader-anim-bird"></div>
      </div>
      <h2 id="gs-loader-text">Welcome to Birds.js !</h2>
      
    </div>

    <div id="gs-login" class="inGamePanel">
      <h1>Birds.js</h1>

      <input type="text" id="player-name" maxlength="8" value="Player_1" />
      <input type="button" id="player-connection" value="Play !" />
    
    </div>

    <div id="gs-ranking" class="inGamePanel">
      <h1 id="gs-ranking-title">Game Over</h1>
      <div id="gs-ranking-box">
        <div class="gs-ranking-panel">
          <h3>Medal</h3>
          <div class="gs-ranking-medal"></div>
          <strong id="gs-ranking-pos" class="gs-ranking-text gs-ranking-text-mini">- / -</strong>
        </div>
        <div class="gs-ranking-panel">
          <h3>Score</h3>
          <strong id="gs-ranking-score" class="gs-ranking-text">-</strong>
          
          <h3>Best</h3>
          <strong id="gs-ranking-best" class="gs-ranking-text">-</strong>
          
        </div>
      </div>
    </div>

    <div id="gs-highscores" class="inGamePanel">
      <h1 id="gs-highscores-title">High Scores</h1>
      <div id="gs-highscores-box">
        <ul id="gs-highscores-scores">
          
        </ul>
      </div>
    </div>

    <div id="gs-error" class="inGamePanel">
      <h1 id="gs-error-title">Ouuuuuups :(</h1>
      <h2 id="gs-error-message">Something goes wrong. Please reload the page</h2>
    </div>

  </div>

</div>
